<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    
    <!-- Configure for Node.js server entry point -->
    <handlers>
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <clear />
        <!-- Route all requests to server.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Clear all caching -->
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Force restart with new settings -->
    <iisnode 
      watchedFiles="web.config;*.js"
      node_env="%node_env%"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      loggingEnabled="true"
      logDirectoryNameSuffix="logs"
      debuggingEnabled="false"
      devErrorsEnabled="true"
      maxLogFileSizeInKB="128"
      appendToExistingLog="false"
      logFileFlushInterval="5000"
      configOverrides="iisnode.yml" >
      
      <!-- Environment variables for Puppeteer -->
      <environmentVariables>
        <add name="PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" value="true" />
        <add name="PUPPETEER_SKIP_DOWNLOAD" value="true" />
        <add name="PUPPETEER_EXECUTABLE_PATH" value="" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>
